.full{
    background-color: antiquewhite;
}
.pi{
float: left;
background-color: antiquewhite;
}
.ex{
float: right;
padding-right: 400px;
background-color: antiquewhite;
}
#co{
    display: flex;
    justify-content:right;
    padding-right: 30px;
    background-color: antiquewhite;
}